.slideshow__mouseScroll {
  position: fixed;
  left: 50%;
  bottom: 0; 
  width: 26px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  //align-content: center;
  
  > * {
    box-sizing: border-box;
  }
}


@-webkit-keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 0;
  top: 50%;
  }
  100% {
  opacity: 0;
  top: 29%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 0;
  top: 50%;
  }
  100% {
  opacity: 0;
  top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 0%;
  }
  15% {
  opacity: 1;
  top: 25%;
  }
  50% {
  opacity: 0;
  top: 25%;
  }
  100% {
  opacity: 0;
  top: 0%;
  }
}


.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: $white;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 26px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid $white;
  border-radius: 23px;
}
.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 0%;
  left: 10px;
  width: 0px;
  border-right: 1px solid $white;
  border-left: 1px solid $white;
  height: 8px;
  background: $white;
  border-radius: 25%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}


.verticalDivider {
  height: 30px;
  width: 2px;
  background: $white;
}
