@keyframes move-letters-down-first {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(var(--letterOffsetForTransition));
  }
}


.move-letter-down-first-1  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 1);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-2  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 2);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-3  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 3);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-4  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 4);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-5  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 5);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-6  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 6);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-7  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 7);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-8  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 8);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-9  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 9);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-10  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 10);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-11  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 11);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-12  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 12);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-13  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 13);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-14  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 14);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-15  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 15);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-16  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 16);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-17  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 17);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-18  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 18);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-19  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 19);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-20  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 20);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-21  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 21);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-22  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 22);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-23  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 23);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-24  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 24);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-25  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 25);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-26  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 26);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-27  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 27);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-28  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 28);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-29  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 29);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-30  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 30);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-31  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 31);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-32  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 32);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-33  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 33);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-34  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 34);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-35  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 35);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-36  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 36);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-37  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 37);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-38  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 38);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-39  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 39);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-40  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 40);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-41  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 41);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-42  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 42);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-43  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 43);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-44  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 44);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-45  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 45);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-46  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 46);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-47  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 47);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-48  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 48);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-49  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 49);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-50  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 50);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-51  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 51);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-52  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 52);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-53  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 53);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-54  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 54);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-55  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 55);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-56  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 56);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-57  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 57);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-58  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 58);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-59  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 59);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-down-first
}
.move-letter-down-first-60  {
  animation-duration: var(--letterTransitionDuration);
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: calc(var(--letterTimeOut) * 60);
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-name: move-letters-dow
}
