@keyframes newTotemTranslateFromDownToUp {
  0% {
    transform: translateY(+100vh);
  }
  50% {
    transform: translateY(-2%);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(+1%);
  }
  80% {
    transform: translateY(+0.5%);
  }
  90% {    
    transform: translateY(+0.25%);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes newTotemTranslateFromUpToDown {
  0% {
    transform: translateY(-100vh);
  }
  50% {
    transform: translateY(+2%);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-1%);
  }
  80% {
    transform: translateY(-0.5%);
  }
  90% {    
    transform: translateY(-0.25%);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes oldTotemToDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(+100vh);
  }
}
@keyframes oldTotemToUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes perpetual-rotation {
  0% {
    transform: rotate(0deg)
  }
  25% {
    transform: rotate(-0.25deg)
  }
  50% {
    transform: rotate(0deg)
  }
  75% {
    transform: rotate(0.25deg)
  }
  100% {
    transform: rotate(0deg)
  }
}

@keyframes perpetual-translation {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(1%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0);
  }
}
