@keyframes move-and-fade-in-letter-up {
  0% {
    opacity: 0;
    transform: translateY(+$letterOffsetForTransition);
  }
  30% {
    opacity: 0.5;
    transform: translateY(+$letterOffsetForTransition / 2);
  }
  60% {
    opacity: 1;
    transform: translateY(-3px);
  }
  75% {
    transform: translateY(1px);
  }
  90% {

    transform: translateY(0);
  }
}

.fade-in-letter-up-1 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 1);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-2 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 2);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-3 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 3);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-4 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 4);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-5 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 5);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-6 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 6);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-7 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 7);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-8 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 8);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-9 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 9);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-10 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 10);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-11 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 11);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-12 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 12);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-13 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 13);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-14 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 14);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-15 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 15);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-16 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 16);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-17 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 17);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-18 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 18);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-19 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 19);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-20 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 20);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-21 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 21);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-22 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 22);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-23 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 23);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-24 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 24);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-25 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 25);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-26 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 26);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-27 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 27);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-28 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 28);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-29 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 29);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-30 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 30);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-31 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 31);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-32 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 32);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-33 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 33);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-34 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 34);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-35 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 35);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-36 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 36);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-37 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 37);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-38 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 38);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-39 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 39);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}
.fade-in-letter-up-40 { 
  animation: move-and-fade-in-letter-up $letterTransitionDuration linear;
  animation-delay: calc(var(--letterHalfTransition) + 20ms * 40);
  animation-fill-mode: both;
  opacity: 1;
  transform: translateY(0);
}

