* {
  box-sizing: border-box;
  // border: 1px solid #000;
  @include resetMarginPadding;
}

html, body {
  @include size(100%);
  overflow: hidden;
}

body {


}

a {
  text-decoration: none;
  color: inherit;
}
