* {
  box-sizing: border-box;
  // border: 1px solid #000;
  @include resetMarginPadding;
}

html, body {
  @include size(100%);
  overflow: hidden;
}

body {
  position: relative;
}

#wholeContent {
  position: relative;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

#loadingAnim{
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: hsla(0,0%,100%,1.00);
  transition: opacity 0.5s linear;
  // transition: transform 1s linear;
  &.hide {
    opacity: 0;
    // transform: translateY(-100vh);
  }
}


a {
  text-decoration: none;
  color: inherit;
}
