

.footer {
  * {
    // border: 1px solid #000;
    flex-shrink: 0;
    --mobile-width: 370px;
  }
  z-index: $z-index-footer;
  bottom: 0;
  height: 50vh;
  width: 100vw;
  &.landscape {
    position: fixed;
    transform: translateY(50vh);
    transition: transform 1s ease-in-out;
    will-change: transform;
    max-height: 400px;
  }
  &.portrait {
    position: relative;
    > svg {
      display: none;
    }
  }

  display: flex;
  overflow: hidden;

  color: $white;
  font-family: 'Cogito', sans-serif;
  font-weight: 400;
  background-color: $tuatara;
  letter-spacing: 1.5px;
  
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  &.visible {
    transform: translateY(0);
  }

  > svg {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    @include size(20px);
    stroke: $white;
    stroke-width: 5;

  }

  .divider {
    width: 95%;
    border: 1px solid $white;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .bottomcontainer {
    text-align: center;
    :first-child {
      letter-spacing: 1.5px;
      text-transform: uppercase;
      font-size: 0.8em;
      color: $white;
    }
    .copyright {
      // display: none;
      margin-top: 5px;
      margin-bottom: 20px;

      color: $spicy;
      font-size: 0.8em;
    }
  }

  .topcontainer {
    width: $footer-topcontainer-width;
    margin-top: 55px;
    display: flex;
    
    @media all and (max-width: $big-break) {
      flex-direction: column;
      align-items: center;
      height: 400px;
    }

    @media all and (max-width: $small-break) {
      height: 700px;
    }

    justify-content: space-between;
    align-items: flex-start;

    &__subcontainer {
      display: flex;
      width: $small-break;
      @media all and (max-width: $small-break) {
        flex-direction: column;
        align-items: center !important;

        &--sub {
          margin-bottom: 20px;
        }
      }
     
      &--left {
        justify-content: space-around;
        align-items: center;
        --height: 200px;
        @media all and (max-width: $small-break) {
          font-size: 0.8em;
        }
        .logo {
          width: calc(var(--height) / 3);
          height: var(--height);
        }
        .coordinates {
          height: var(--height);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          &__address {
            &--line { 
              margin-bottom: 4px; 
            }
          }

          &__group {
              color: $spicy;
          }
        }
      }

      &--right {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        .first-container {
          display: flex;
          
          justify-content: space-around;
          align-items: flex-end;
          --height: 60px;
          @media all and (max-width: $small-break) {
            flex-direction: column;
            align-items: center !important;

            &--sub {
              margin-bottom: 20px;
            }
          }
          .email {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            > input {
              width: 280px;
              height: var(--height);
              margin-top: 10px;
              padding-left: 20px;
              &::placeholder {
                font-style: italic;
                font-size: 1em;
                color: hsla(0,0%,49%,1.00);
              }
            }
          }
          .valider {
            width: 200px;
            height: var(--height);
            margin-left: 20px;
            > button {
              @include size(100%);
              border-radius: 0;
              color: $white;
              border: none;
              background-color: $spicy;
              letter-spacing: 2.5px;
            }
            @media all and (max-width: $small-break) {
              margin-left: 0;
            }
          }

        }
        .wewantyou {
          :first-child {
            margin-bottom: 4px; 
          }
          margin-top: 25px;
          margin-bottom: 25px;
        }
      }
    }
  }
}

.capital {
  text-transform: uppercase;
  font-size: 1.18em;
}



