
.reservationButton {
  position: absolute;
  height: 250px;
  max-height: 45vh;
  width: 60px;
  top: 0;
  left: -60px;
  cursor: pointer;
}

.reservationButton--parent1 {
  height: 100%;
  overflow: hidden;
  transition-property: width;
  transition-duration: var(--reservationTransition);
  perspective: 1000px;
  transform-style: preserve-3d;
}

.reservationButton--parent2 {
}

.reservationButton--parent3 {
  height: 250px;
  max-height: 45vh;
  transition-property: all;
  transition-duration: var(--reservationTransition);
  transform: rotateY(-90deg);
  transform-origin: right;
  background-color: $tuatara;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  max-height: 45vh;
  .french {
    color: $white;
    font-family: 'Cogito';
    text-orientation: upright;
    text-transform: uppercase;
    writing-mode: tb;
    letter-spacing: 2px;
  }
  .english {
    display: none;
  }
  > svg {
    display: none;
    @include size(20px);
    > #cross {
      stroke: $white;
      stroke-width: 5;
    }
  }
}

.visible.reservationButton--parent3 {
  transform: rotateY(0deg);
}

.visible.reservationButton--parent1 {
  width: 60px;
}

.visible.svgcross {
  display: block;
  cursor: pointer;
}


.reservation {
  z-index: $z-index-reservation;
  position: fixed;
  will-change: transform;
  top: 0;
  right: -50vw;
  min-width: 300px;
  width: 50vw;
  height: 100vh;
  border: 1px solid #000;
  background-color: $white;
  transition: all var(--reservationTransition) ease-in-out;
  &.visible{
    transform: translateX(-50vw) !important;
  }
}
