.slideshow__backup {
  &.landscape {
    display: none;    
  }
  scroll-behavior: smooth;

  &.portrait {
    display: flex;
  }

  flex-direction: column;
  justify-content: center;
  align-items: center;


  .slideshow {
    &__background {
      height: 100vh;
      width: 100vw;
      position: relative;
    }

    &__totem {
      opacity: 1 !important;
    }
    &__description {

      position: absolute;

      &.portrait {
        bottom: 25%;
        width: 100%;
      }
    }
  }
}

