.slideshow__landscape {
  overflow: hidden;
  > .slideshow__backup {
    display: none;
  }

  .slideshow {

  position: relative;
  height: 100vh;
  width: 100vw;
  @include resetMarginPadding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.inTransition {
    transition: background-color $transitionDuration ease-in-out; 
  }

    &__content {
      @include size(100%);
      position: relative;
  
      flex-shrink: 1;
    }

    &__totem {
      position: absolute;
      top: 5%;
      bottom: 5%;
      left: 15%;
      right: 5%;

      // border: 1px solid #000;

      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position-y: bottom;

      will-change: transform;

      &.totemOnTransitionUp {
        transition: transform $transitionDuration cubic-bezier(0.64, 0.46, 0.38, 1.41);
        transform: translateY(-100vh);
      }
      &.totemOnTransitionDown {
        transition: transform $transitionDuration cubic-bezier(0.64, 0.46, 0.38, 1.41);
        transform: translateY(+100vh);
      }
      &.fakeTotemUp {
        top: calc(5% + 100vh);
        height: 90%;
      }
      &.fakeTotemDown {
        top: calc(5% - 100vh);
        height: 90%;
      }
    }

    &__description {
      position: absolute;
      top: 35%;
      // bottom: 35%;
      right: 0;
      width: 65%;
      // height: 30%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &.inTransition {
        transition: color $transitionDuration ease-in-out; 
      }
      

      &--establishment-name {
        display: flex;

        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;

        font-weight: 500;
        text-transform: uppercase; 
        > p {
         margin: 0 3px;
        }
      }

      &--divider {
        width: 50px;
        margin-top: 12px;
        margin-bottom: 17px;
        border-top: 1px solid; //IMPORTANT
        &.inTransition {
          transition: border-color $transitionDuration ease-in-out; 
        }
      }


      &--slogan {
        margin-top: 22px;
        font-weight: 400;
        letter-spacing: 4px;
        text-transform: uppercase; 
      }
    }

    &__cursor {
      @media all and (max-width: 1024px) {
        display: none;
      }
      position: relative;
      flex-basis: 90px;
      // flex-shrink: 0;


      &--fixed {
        z-index: 100;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
          border: 2px solid rgba(151,105,78,1.00);   //IMPORTANT   
        }

      &--moving {
        z-index: 10;
        position: absolute;
        top: 1px;
        right: 15%;
        width: 25px;
        border: 1px solid;   //IMPORTANT  
        &.inTransition {
          transition: 
            color $transitionDuration ease-in-out, 
            border-color $transitionDuration ease-in-out, 
            transform $transitionDuration ease-in-out; 
          //COLOR FOR THE SHADOW + BORDER-COLOR FOR THE MAIN + TRANSFORM
        }
      }
    }
  }
}


.slideshow__description--options {
  display: flex;

  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  font-weight: 500;
  text-transform: uppercase; 
  > p {
   margin: 0 5px;
 }
}


// .onTransitionUp {
//   transform: translateY(-100vh);
// }
// .onTransitionDown {
//   transform: translateY(+100vh);
// }
// .totemUp {
//   transition: transform $transitionDuration cubic-bezier(0.64, 0.46, 0.38, 1.41);
// }
// .totemDown {
//   transition: transform $transitionDuration cubic-bezier(0.64, 0.46, 0.38, 1.41);
// }

// .fakeUp {
//   top: calc(5% + 100vh);
//   height: 90%;
// }

// .fakeDown {
//   top: calc(5% - 100vh);
//   height: 90%;
// }

