.slideshow__landscape {
  // overflow: hidden;
  > .slideshow__backup--container {
    display: none;
  }

  .slideshow {

    position: relative;
    height: 100vh;
    width: 100vw;
    @include resetMarginPadding;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__background {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      @include size(100%);
      &.inTransition {
        transition: background-color $transitionDuration ease-in-out; 
      }
    }

    &__totem {
      position: absolute;
      top: 5%;
      bottom: 5%;
      left: 15%;
      right: 5%;
      height: 0;

      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position-y: bottom;
      // animation: perpetual-rotation 10s linear infinite;
      &.perpetual-translation {
        animation: perpetual-translation 10s ease-in-out infinite;
      }
      &.totemOnTransitionUp {
        will-change: transform;
        animation: oldTotemToUp $transitionDurationOldTotem ease-in-out;
      }
      &.totemOnTransitionDown {
        will-change: transform;
        animation: oldTotemToDown $transitionDurationOldTotem ease-in-out;
      }
      &.fakeTotemUp {
        will-change: transform;
        animation: newTotemTranslateFromDownToUp $transitionDuration ease-in-out;
      }
      &.fakeTotemDown {
        will-change: transform;
        animation: newTotemTranslateFromUpToDown $transitionDuration ease-in-out;
      }
    }

    &__description {
      position: absolute;
      bottom: 50%;
      // bottom: 35%;
      right: 90px;
      width: 65%;
      // height: 30%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &.perpetual-translation {
        animation: perpetual-translation 10s linear infinite;
        animation-direction: reverse;
      }
      &.inTransition {
        transition: color $transitionDuration ease-in-out; 
      }
      

      &--establishment-name {
        display: flex;

        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;

        font-weight: 500;
        text-transform: uppercase; 
        > div {
          display: flex;
        }
      }

      &--divider {
        width: 50px;
        margin-top: 12px;
        margin-bottom: 17px;
        border-top: 1px solid; //IMPORTANT
        &.init {
          transform: scale(0);
        }
        &.inTransition {
          transition: border-color $transitionDuration ease-in-out; 
          --disappearDuration: 300ms;
          animation: var(--disappearDuration) ease-in forwards disappear, 0.5s ease-in-out calc(var(--transitionDuration) - var(--disappearDuration)) forwards appear;
        }
        &.coming-in {
          animation-name: fade-in;
          animation-delay: 1s;
          animation-duration: 0.5s;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards;
        }
        &.going-out {
          animation: 0.5 fade-in reverse forwards;
        }
      }
      &--optionsContainer {
        display: block;
        position: relative;
        width: 750px;


      }

      &--options {
        display: none;
        position: absolute;
        bottom: 50%;
        right: 90px;
        width: 65%;
        &.showOption { 
          display: flex !important 
        }
        > .hideLetter {
          opacity: 0;
        }
      }


      &--slogan {
        margin-top: 22px;
        font-weight: 400;
        letter-spacing: 4px;
        text-transform: uppercase; 
        display: flex;
      }
    }

    &__cursor {
      @media all and (max-width: 1024px) {
        display: none;
      }

      &--fixed {
        z-index: $z-index-cursorfixed;
        position: absolute;
        top: calc(50% - 2px);
        right: 0;
        width: 90px;
        border: 2px solid rgba(151,105,78,1.00);   //IMPORTANT   
        }

      &--moving {
        z-index: $z-index-cursormoving;
        position: absolute;
        top: calc(50% - 1px);
        right: 13.5px;
        width: 25px;
        border: 1px solid;   //IMPORTANT  
        &.inTransition {
          transition: 
            color $maxTransitionDuration ease-in-out, 
            border-color $maxTransitionDuration ease-in-out, 
            transform $maxTransitionDuration ease-in-out; 
          //COLOR FOR THE SHADOW + BORDER-COLOR FOR THE MAIN + TRANSFORM
        }
      }
    }
  }
}


.slideshow__description--options {
  display: flex;

  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  font-weight: 500;
  text-transform: uppercase; 
  > p {
   margin: 0 5px;
 }
}

.totem_hotel { background-image: url('../img/totems/totem_hotel.png'); }
.totem_clubDeSport { background-image: url('../img/totems/totem_clubDeSport.png'); }
.totem_restaurant { background-image: url('../img/totems/totem_restaurant.png'); }
.totem_bar { background-image: url('../img/totems/totem_bar.png'); }
.totem_patisserie { background-image: url('../img/totems/totem_patisserie.png'); }
.totem_evenementiel { background-image: url('../img/totems/totem_evenementiel.png'); }
.totem_potager { background-image: url('../img/totems/totem_potager.png'); }

.showTotem { height: 90% !important; }






















