// @keyframes hide-slideshow {
//   0% {
//   opacity: 1;
//   transform: translateY(0);
//   height: 100%;
//   }
//   90% {
//   opacity: 1;
//   transform: translateY(-100vh);
//   height: 100%;
//   }
//   100% {
//   opacity: 0;
//   transform: translateY(0);
//   height: 0;
//   }
// }
@keyframes hide-slideshow {
  0% {
  // opacity: 1;
  transform: translateY(0);
  }
  100% {
  // opacity: 0;
  transform: translateY(-100vh);
  }
}

.slideshow__hide {
  animation: hide-slideshow 1s ease-in-out;
  transform: translateY(-100vh);
}

// .slideshow__hidden {
//   height
// }
