/*------------------------------------*\
    COLORS
\*------------------------------------*/

$white: rgba(250,250,250,1.00);
$tuatara: hsla(0,0%,20%,1.00);
$spicy: hsla(20,29%,43%,1.00);

/*------------------------------------*\
    LENGTHS
\*------------------------------------*/

$letterOffsetForTransition: 20px;
$first-break: var()

/*------------------------------------*\
    DURATION
\*------------------------------------*/

:root {
  --transitionDuration: 2000ms;
  --letterHalfTransition: calc(var(--transitionDuration) / 2);
  --letterTimeOut: calc(var(--transitionDuration) / 100);
  --letterTransitionDuration: calc(var(--transitionDuration) / 2 - var(--letterTimeOut) * 36);
  --letterOffsetForTransition: 20px;
  --dividerTranslationDist: 120px;
  --reservationTransition: 200ms;
}
$transitionDuration: 2000ms; 
$transitionDurationOldTotem: $transitionDuration / 2;
$maxTransitionDuration: 2200ms;
$letterTimeOut: 20ms;
$biggestWordNumberOfLetters: 36;
//target: timeout of the last letter + transition of the last letter = 1/2 transition
$letterTransitionDuration: $transitionDuration / 2 - $letterTimeOut * $biggestWordNumberOfLetters;

/*------------------------------------*\
    Z-INDEX
\*------------------------------------*/

$z-index-videoanim: 200;
$z-index-reservation: 120;
$z-index-footer: 110;
$z-index-mousescroll: 100;
$z-index-transparentfilterforscrolling: 40;
$z-index-cursorfixed: 20;
$z-index-cursormoving: 10;


/*------------------------------------*\
    HOTEL FONT RESIZE
\*------------------------------------*/

// CRIMSON TEXT
$CrimsonCapitalHeight: 0.66;
$CrimsonDescender: 0.21;
$CrimsonAscender: 0.68;
$CrimsonLinegap: 0;


/*------------------------------------*\
    FONTS
\*------------------------------------*/

//Portrait
@font-face {
    font-family: 'Portrait';
    src: url('../fonts/PORTRAIT/WEB/Portrait-Light-Web.eot') format('eot'),
         url('../fonts/PORTRAIT/WEB/Portrait-Light-Web.woff') format('woff'),
         url('../fonts/PORTRAIT/WEB/Portrait-Light-Web.woff2') format('woff2');
    font-weight: 300;
    font-style: light;
}
@font-face {
    font-family: 'Portrait';
    src: url('../fonts/PORTRAIT/WEB/Portrait-Medium-Web.eot') format('eot'),
         url('../fonts/PORTRAIT/WEB/Portrait-Medium-Web.woff') format('woff'),
         url('../fonts/PORTRAIT/WEB/Portrait-Medium-Web.woff2') format('woff2');
    font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: 'Portrait';
    src: url('../fonts/PORTRAIT/WEB/Portrait-MediumItalic-Web.eot') format('eot'),
         url('../fonts/PORTRAIT/WEB/Portrait-MediumItalic-Web.woff') format('woff'),
         url('../fonts/PORTRAIT/WEB/Portrait-MediumItalic-Web.woff2') format('woff2');
    font-weight: 500i;
    font-style: medium-italic;
}

//Cogito
@font-face {
    font-family: 'Cogito';
    src: url('../fonts/COGITO/Desktop + web license/Cogito/web/CogitoWeb-Regular.eot') format('eot'),
         url('../fonts/COGITO/Desktop + web license/Cogito/web/CogitoWeb-Regular.woff') format('woff');
    font-weight: 400;
    font-style: regular;
}
@font-face {
    font-family: 'Cogito';
    src: url('../fonts/COGITO/Desktop + web license/Cogito/web/CogitoWeb-Bold.eot') format('eot'),
         url('../fonts/COGITO/Desktop + web license/Cogito/web/CogitoWeb-Bold.woff') format('woff');
    font-weight: 600;
    font-style: bold;
}
