/*------------------------------------*\
    COLORS
\*------------------------------------*/

$white: rgba(250,250,250,1.00);


/*------------------------------------*\
    LENGTHS
\*------------------------------------*/


/*------------------------------------*\
    DURATION
\*------------------------------------*/

$transitionDuration: 1200ms; //150 ms lower than the one in JS, for totem smooth transition

/*------------------------------------*\
    HOTEL FONT RESIZE
\*------------------------------------*/

// CRIMSON TEXT
$CrimsonCapitalHeight: 0.66;
$CrimsonDescender: 0.21;
$CrimsonAscender: 0.68;
$CrimsonLinegap: 0;


/*------------------------------------*\
    FONTS
\*------------------------------------*/

//Portrait
@font-face {
    font-family: 'Portrait';
    src: url('../fonts/PORTRAIT/DESKTOP/Portrait-Light.otf') format('otf'),
         url('../fonts/PORTRAIT/WEB/Portrait-Light-Web.eot') format('eot'),
         url('../fonts/PORTRAIT/WEB/Portrait-Light-Web.woff') format('woff'),
         url('../fonts/PORTRAIT/WEB/Portrait-Light-Web.woff2') format('woff2');
    font-weight: 300;
    font-style: light;
}
@font-face {
    font-family: 'Portrait';
    src: url('../fonts/PORTRAIT/DESKTOP/Portrait-Medium.otf') format('otf'),
         url('../fonts/PORTRAIT/WEB/Portrait-Medium-Web.eot') format('eot'),
         url('../fonts/PORTRAIT/WEB/Portrait-Medium-Web.woff') format('woff'),
         url('../fonts/PORTRAIT/WEB/Portrait-Medium-Web.woff2') format('woff2');
    font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: 'Portrait';
    src: url('../fonts/PORTRAIT/DESKTOP/Portrait-MediumItalic.otf') format('otf'),
         url('../fonts/PORTRAIT/WEB/Portrait-MediumItalic-Web.eot') format('eot'),
         url('../fonts/PORTRAIT/WEB/Portrait-MediumItalic-Web.woff') format('woff'),
         url('../fonts/PORTRAIT/WEB/Portrait-MediumItalic-Web.woff2') format('woff2');
    font-weight: 500i;
    font-style: medium-italic;
}

//Cogito
@font-face {
    font-family: 'Cogito';
    src: url('../fonts/COGITO/Desktop + web license/Cogito/Cogito-Regular.otf') format('otf'),
         url('../fonts/COGITO/Desktop + web license/Cogito/web/CogitoWeb-Regular.eot') format('eot'),
         url('../fonts/COGITO/Desktop + web license/Cogito/web/CogitoWeb-Regular.woff') format('woff');
    font-weight: 400;
    font-style: regular;
}
@font-face {
    font-family: 'Cogito';
    src: url('../fonts/COGITO/Desktop + web license/Cogito/Cogito-Bold.otf') format('otf'),
         url('../fonts/COGITO/Desktop + web license/Cogito/web/CogitoWeb-Bold.eot') format('eot'),
         url('../fonts/COGITO/Desktop + web license/Cogito/web/CogitoWeb-Bold.woff') format('woff');
    font-weight: 600;
    font-style: bold;
}
