.video {
  overflow: hidden;
  display: flex;
  position: relative;
  
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  
  .video__subcontainer {
    position: absolute;
    // left: -100%;
    overflow: auto;
    height: 128vh;
    width: calc(128vh / 0.5625);
  }
}

.video__maincontainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;  
  justify-content: center;
  align-items: center;

  .video__subcontainer {
    position: absolute;
    overflow: auto;
    height: 100vh;
    width: calc(100vh / 0.5625);
  }
}
