.video {
  overflow: hidden;
  display: flex;
  
  justify-content: center;
  align-items: center;
  //align-content: center;
  width: 100vw;
  height: 100vh;
  
  &__video1 {
    // width: 100%;
    // height: 100%;
    overflow: hidden;
  }
}

