.slideshow__landscape {
  // overflow: hidden;
  > .slideshow__backup--container {
    display: none;
  }

  .slideshow {

  position: relative;
  height: 100vh;
  width: 100vw;
  @include resetMarginPadding;
  &.inTransition {
    transition: background-color $transitionDuration ease-in-out; 
  }

    &__content {
      @include size(100%);
      position: relative;
  
      flex-shrink: 1;
    }

    &__totem {
      position: absolute;
      top: 5%;
      bottom: 5%;
      left: 15%;
      right: 5%;
      height: 0;

      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position-y: bottom;
      // animation: perpetual-rotation 10s linear infinite;
      animation: perpetual-translation 10s linear infinite;


      &.totemOnTransitionUp {
        will-change: transform;
        animation: oldTotemToUp $transitionDurationOldTotem ease-in-out;
      }
      &.totemOnTransitionDown {
        will-change: transform;
        animation: oldTotemToDown $transitionDurationOldTotem ease-in-out;
      }
      &.fakeTotemUp {
        will-change: transform;
        animation: newTotemTranslateFromDownToUp $transitionDuration ease-in-out;
      }
      &.fakeTotemDown {
        will-change: transform;
        animation: newTotemTranslateFromUpToDown $transitionDuration ease-in-out;
      }
    }

    &__description {
      position: absolute;
      bottom: 50%;
      // bottom: 35%;
      right: 0;
      width: 65%;
      // height: 30%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      animation: perpetual-translation 10s linear infinite;
      animation-direction: reverse;
      &.inTransition {
        transition: color $transitionDuration ease-in-out; 
      }
      

      &--establishment-name {
        display: flex;

        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;

        font-weight: 500;
        text-transform: uppercase; 
        > p {
         margin: 0 3px;
        }
      }

      &--divider {
        width: 50px;
        margin-top: 12px;
        margin-bottom: 17px;
        border-top: 1px solid; //IMPORTANT
        &.inTransition {
          transition: border-color $transitionDuration ease-in-out; 
        }
      }
      &--optionsContainer {
        display: block;
        position: relative;
        width: 750px;
      }

      &--options {
        display: none;
        position: absolute;
        width: 100%;
        &.showOption { 
          display: flex !important 
        }
        > .hideLetter {
          opacity: 0;
        }
      }


      &--slogan {
        margin-top: 22px;
        font-weight: 400;
        letter-spacing: 4px;
        text-transform: uppercase; 
      }
    }

    &__cursor {
      @media all and (max-width: 1024px) {
        display: none;
      }
      position: relative;
      flex-basis: 90px;
      // flex-shrink: 0;


      &--fixed {
        z-index: 100;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
          border: 2px solid rgba(151,105,78,1.00);   //IMPORTANT   
        }

      &--moving {
        z-index: 10;
        position: absolute;
        top: 1px;
        right: 15%;
        width: 25px;
        border: 1px solid;   //IMPORTANT  
        &.inTransition {
          transition: 
            color $miniTransitionDuration ease-in-out, 
            border-color $miniTransitionDuration ease-in-out, 
            transform $miniTransitionDuration ease-in-out; 
          //COLOR FOR THE SHADOW + BORDER-COLOR FOR THE MAIN + TRANSFORM
        }
      }
    }
  }
}


.slideshow__description--options {
  display: flex;

  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  font-weight: 500;
  text-transform: uppercase; 
  > p {
   margin: 0 5px;
 }
}

.totem_hotel { background-image: url('../img/totems/totem_hotel.png'); }
.totem_clubDeSport { background-image: url('../img/totems/totem_clubDeSport.png'); }
.totem_restaurant { background-image: url('../img/totems/totem_restaurant.png'); }
.totem_bar { background-image: url('../img/totems/totem_bar.png'); }
.totem_patisserie { background-image: url('../img/totems/totem_patisserie.png'); }
.totem_evenementiel { background-image: url('../img/totems/totem_evenementiel.png'); }
.totem_potager { background-image: url('../img/totems/totem_potager.png'); }

.showTotem { height: 90% !important; }






















